<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <script>
        let name = "Mac Computers"
        let age = 10

        if (age > 12) {
            console.log("hain bhai jyada hain")
        } else {
            console.log("na nahi hain ")
        }

        let result = (age > 12) ? "hain bhai jyada hain" : "na nahi hain "
            // console.log("this is ", name)
        console.log(`This is ${name} in dehradun. duration : ${(age > 12) ? "hain bhai jyada hain" : "na nahi hain "}`)
    </script>
</body>

</html>